@each $color, $value in $theme-colors {
  .modal-#{$color} {
    @include modal-variant($value);
  }
}

// .modal-colored {
//   .modal-header,
//   .modal-footer {
//     border-color: rgba(255, 255, 255, 0.33)
//   }
// }

// .modal-header .close {
//   padding: 1rem;
//   margin: -1rem -1rem -1rem auto;
// }

.modal-title {
  font-weight: $card-title-font-weight;
}

.close {
  @extend .btn-close;
  font-size: 18px !important;

  span {
    display: none;
  }
}

.sr-only {
  display: none;
}
