.table {
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: $table-border-color;
  }

  > :not(:last-child) > :last-child > * {
    border-color: $table-border-color;
  }

  .sort-desc,
  .sort-asc {
    height: 13px;
    width: 13px;
    color: $muted;
    top: -1px;
    position: relative;

    &:first-child {
      margin-left: 5px;
    }
  }
}

.table-action {
  a {
    color: $gray-600;

    &:hover {
      color: $gray-900;
    }
  }

  .feather {
    width: 18px;
    height: 18px;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.dataTables_info {
  line-height: 32px;
}

.card > .dataTables_wrapper {
  .table.dataTable {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .dataTables_info {
    padding: 1rem 1.25rem;
  }

  .dataTables_paginate {
    padding: 0.6rem 1.25rem;
  }
}

.dt-bootstrap4 {
  width: calc(100% - 2px);
}

.table > :not(:first-child) {
  border-top: 1px solid $border-color;
}
