.Toastify__toast--error {
  background-color: $danger !important;
}
.Toastify__toast--warning {
  background-color: $warning !important;
}
.Toastify__toast--success {
  background-color: $success !important;
}
