// Light
$sidebar-bg: #f8fafc !default;
$sidebar-link-color: $dark !default;
$sidebar-link-bg: darken($sidebar-bg, 5%) !default;
$sidebar-link-hover-bg: darken($sidebar-link-bg, 10%) !default;
$sidebar-link-active-bg: darken($sidebar-bg, 15%) !default;
