$red: #e74c3c;
$green: #2ecc71;
$blue: #3498db;
$yellow: #f1c40f;
$orange: #e67e22;
$turquise: #1abc9c;
$black: #000000;
$clouds: #ecf0f1;
$white: #ffffff;
$midnight: #2c3e50;
$asphalt: #34495e;

$danger: $red;
$success: $green;
$info: $blue;
$warning: $yellow;
$muted: #868e96;
$dark: $black;
$light: $clouds;

$primary: $success;
$secondary: $asphalt;

$background: #f6f6f6;

$border-color: #e4e6e8;
